body{
background:  #070d3b;
}
#imgMoneda{
height: 45;
}
#imgMonedas{
height: 45;
}
#panel{
height: 10%;
max-height: 10%;
min-height: 10%;
background: black;
color: white;
}
#proyectos{
width: 100%;
height: 80%;
}
#youtube{
background:  rgba( 199, 0, 57, 0.7);
}
#canalT{
background:  rgba( 23, 143, 122 ,0.7);
}
#chatT{
background: rgba( 10, 143, 126, 0.7);
}
#twitter{
background: rgba( 3, 140, 232, 0.8);
}
#preguntas{
background: rgba( 255, 195, 0, 0.5);
}
#condiciones{
background: rgba( 218, 247, 166, 0.8);
}

#seccion1{
background: rgba(0, 45, 57, 0.5);
height: 70%;
}
#seccion2{
background: rgba(0, 0, 0, 0.5);
height: 30%;
color: white;
}
#seccion3{
height: 70%;
background: rgba(0, 45, 57, 0.5);
}
#seccion4{
background: rgba(0, 0, 0, 0.5);
height: 30%;
color: white;
}
#seccion5{
background: rgba(0, 45, 57, 0.5);
height: 70%;
}
#seccion6{
background: rgba(0, 0, 0, 0.5);
height: 30%;
color: white;
}
#seccion7{
background: rgba(0, 45, 57, 0.5);
height: 70%;
}
#seccion8{
background: rgba(0, 0, 0, 0.5);
height: 30%;
color: white;
}
#seccion9{
background: rgba(0, 45, 57, 0.5);
height: 70%;
}
#seccion10{
background: rgba(0, 0, 0, 0.5);
height: 30%;
color: white;
}
#seccion11{
background: rgba(0, 45, 57, 0.5);
height: 70%;
}
#seccion12{
background: rgba(0, 0, 0, 0.5);
height: 30%;
color: white;
}
#seccion13{
height: 70%;
background: rgba(0, 45, 57, 0.5);
}
#seccion14{
background: rgba(0, 0, 0, 0.5);
height: 30%;
color: white;
}
#seccion15{
background: rgba(0, 45, 57, 0.5);
height: 70%;
}
#seccion16{
background: rgba(0, 0, 0, 0.5);
height: 30%;
color: white;
}
#seccion17{
background: rgba(0, 45, 57, 0.5);
height: 70%;
}
#seccion18{
background: rgba(0, 0, 0, 0.5);
height: 30%;
color: white;
}
#seccion19{
background: rgba(0, 45, 57, 0.5);
height: 50%;
}
#seccion20{
background: rgba(0, 0, 0, 0.5);
height: 50%;
color: white;
}
